<svg _ngcontent-jvy-c135="" class="parent-svg">
  <defs _ngcontent-jvy-c135="">
    <linearGradient _ngcontent-jvy-c135="" id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop _ngcontent-jvy-c135="" offset="0%" class="stop-color-1"></stop>
      <stop _ngcontent-jvy-c135="" offset="100%" class="stop-color-2"></stop>
    </linearGradient>
    <linearGradient _ngcontent-jvy-c135="" id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop _ngcontent-jvy-c135="" offset="0%" class="stop-color-3"></stop>
      <stop _ngcontent-jvy-c135="" offset="100%" class="stop-color-4"></stop>
    </linearGradient>
  </defs>
  <ellipse _ngcontent-tjd-c131="" cx="205" cy="35" rx="259" ry="187" fill="url(#grad1)"></ellipse>
  <ellipse _ngcontent-tjd-c131="" cx="215" cy="33" rx="265" ry="200" fill="url(#grad2)"></ellipse>
</svg>

<img class="eclispse-1" src="../../assets/images/small-eclispse-1.png" />
<img class="eclispse-2" src="../../assets/images/small-eclipse-2.png" />
<img class="eclispse-3" src="../../assets/images/large-eclipse.png" />

<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="svg-box"
  *ngIf="isShownOn == 'home'">
  <defs>
    <style>
      .a,
      .b {
        fill: #fff;
      }

      .a {
        opacity: 0.1;
      }

      .c {
        fill: #eceff1;
      }

      .d {
        fill: #6cc355;
      }

      .e {
        fill: #6ab944;
      }

      .f {
        fill: #f26d8c;
      }
    </style>
  </defs>
  <g transform="translate(-150 -60)">
    <circle class="a" cx="40" cy="40" r="40" transform="translate(150 60)" />
    <g transform="translate(112.233 76.113)">
      <path class="b"
        d="M93.205,6.4H73.354A4.155,4.155,0,0,0,69.2,10.554v36.9a4.155,4.155,0,0,0,4.154,4.154H93.205a4.155,4.155,0,0,0,4.154-4.154V10.5A4.18,4.18,0,0,0,93.205,6.4Z"
        transform="translate(-5.113 -5.459)" />
      <path class="c"
        d="M73.052,47.051v-36.9A4.155,4.155,0,0,1,77.206,6H73.754A4.155,4.155,0,0,0,69.6,10.154v36.9a4.155,4.155,0,0,0,4.154,4.154h3.452A4.19,4.19,0,0,1,73.052,47.051Z"
        transform="translate(-5.459 -5.113)" />
      <rect class="d" width="26.433" height="28.159" transform="translate(64.95 8.332)" />
      <rect class="e" width="3.452" height="28.159" transform="translate(64.95 8.332)" />
      <path class="f" d="M197.723,100.888l-6.138,7.459L189,105.838l-1.7,1.846,4.48,4.357,7.828-9.512Z"
        transform="translate(-113.384 -85.285)" />
      <path class="b" d="M160.49,163.187h-9.458v-10.5H158.6v.861h-6.71v8.778h7.737v-1.479h.861Z"
        transform="translate(-79.063 -134.299)" />
    </g>
  </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" class="svg-box"
  *ngIf="isShownOn == 'verify'">
  <defs>
    <style>
      .a {
        fill: #fff;
        opacity: 0.1;
      }

      .b {
        fill: #6cc355;
      }

      .c {
        fill: #eceff1;
      }

      .d {
        fill: #ff8ea8;
      }

      .e {
        fill: #f26d8c;
      }

      .f {
        fill: #6ab944;
      }
    </style>
  </defs>
  <g transform="translate(-150 -60)">
    <circle class="a" cx="40" cy="40" r="40" transform="translate(150 60)" />
    <g transform="translate(169 77)">
      <path class="b"
        d="M0,15.757l20.223,12.87a1.313,1.313,0,0,0,1.554,0L42,15.757,21.788.27a1.315,1.315,0,0,0-1.575,0Z"
        transform="translate(0 -0.007)" />
      <path class="c"
        d="M92.875,0H66.625A2.629,2.629,0,0,0,64,2.625V31.5a1.313,1.313,0,0,0,1.313,1.313H94.188A1.313,1.313,0,0,0,95.5,31.5V2.625A2.628,2.628,0,0,0,92.875,0Z"
        transform="translate(-58.75)" />
      <g transform="translate(10.5 5.25)">
        <path class="d" d="M129.313,66.625h18.375a1.313,1.313,0,0,0,0-2.625H129.313a1.313,1.313,0,1,0,0,2.625Z"
          transform="translate(-128 -64)" />
        <path class="e" d="M147.688,128H129.313a1.313,1.313,0,1,0,0,2.625h18.375a1.313,1.313,0,0,0,0-2.625Z"
          transform="translate(-128 -122.75)" />
        <path class="e" d="M139.813,192h-10.5a1.312,1.312,0,1,0,0,2.625h10.5a1.312,1.312,0,1,0,0-2.625Z"
          transform="translate(-128 -181.5)" />
      </g>
      <path class="f"
        d="M21.777,204.87a1.313,1.313,0,0,1-1.554,0L0,192v23.625a2.626,2.626,0,0,0,2.625,2.625h36.75A2.626,2.626,0,0,0,42,215.625V192Z"
        transform="translate(0 -176.25)" />
      <path class="b"
        d="M39.375,321.062H2.625A2.6,2.6,0,0,1,0,318.438a1.314,1.314,0,0,1,.535-1.058l19.687-13.125a1.313,1.313,0,0,1,1.554,0L41.464,317.38A1.314,1.314,0,0,1,42,318.438,2.6,2.6,0,0,1,39.375,321.062Z"
        transform="translate(0 -279.063)" />
    </g>
  </g>
</svg>